{% extends 'base.html.twig' %}

{% block title %}Au'raw - About us{% endblock %}

{% block body %}

<div class="form__picture">
    <img src="{{ asset('static_pics/2d69eb8fb3f9b70d4ea546c57402a499.jpg') }}" alt="beatuiful picture">
    <div class="form__container">
        <h1>Who Are We?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nostrum tenetur pariatur hic consequuntur. Placeat sint fuga veritatis consequatur. Odio numquam aspernatur impedit dolor ratione officiis iure totam adipisci reprehenderit.</p>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptate non esse minima at placeat deleniti dolorum recusandae blanditiis repellat praesentium distinctio quos sit magnam, soluta fuga? Harum odit tenetur dolorem, soluta optio excepturi incidunt praesentium ipsam maiores non odio quisquam atque repudiandae? Culpa optio ratione id, necessitatibus aut saepe!</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, eos?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nostrum tenetur pariatur hic consequuntur. Placeat sint fuga veritatis consequatur. Odio numquam aspernatur impedit dolor ratione officiis iure totam adipisci reprehenderit.</p>
    </div>
</div>

{% endblock %}