{% extends 'base.html.twig' %}

{% block title %}Legal Mentions{% endblock %}

{% block body %}

<div class="form__picture">
    <img src="{{ asset('asset/assets/Product-pictures/4dbefd5b4d7f5bf03c5f4dba87974cbd.jpg') }}" alt="beatuiful picture">
    <div class="form__container">
        <h1>Legal Mentions</h1>
        <p>All images used for this project were taken from Google and are copyright to their respective owners. The creator of this project does not own any of the used images.</p>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptate non esse minima at placeat deleniti dolorum recusandae blanditiis repellat praesentium distinctio quos sit magnam, soluta fuga? Harum odit tenetur dolorem, soluta optio excepturi incidunt praesentium ipsam maiores non odio quisquam atque repudiandae? Culpa optio ratione id, necessitatibus aut saepe!</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, eos?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nostrum tenetur pariatur hic consequuntur. Placeat sint fuga veritatis consequatur. Odio numquam aspernatur impedit dolor ratione officiis iure totam adipisci reprehenderit.</p>
    </div>
</div>

{% endblock %}