{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}

<div class="form__picture">
    <img src="{{ asset('static_pics/image67.jpg') }}" alt="beatuiful picture">

    <div class="form__container">
        <h1>Frequently Asked Questions</h1>
        <h3>Question 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nostrum tenetur pariatur hic consequuntur. Placeat sint fuga veritatis consequatur.</p>
        <br>
        <h3>Question 2</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore voluptate non esse minima at placeat deleniti dolorum recusandae blanditiis repellat praesentium distinctio quos sit magnam, soluta fuga?</p>
        <br>
        <h3>Question 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus doloremque error voluptatum quia eaque ut magni fugit iste corporis beatae?</p>
        <br>
    </div>
</div>

{% endblock %}