{% extends 'base.html.twig' %}
{% block title %}Au'raw - Page not found 404{% endblock %}
{% block body %}
    <p>
        Something went terribly wrong or this page spmly doesnt exist. Please <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}