{% extends 'base.html.twig' %}
{% block title %}Au'raw - Page not found 404{% endblock %}
{% block body %}
    <p class="error--404">
        Something went terribly wrong or this page simply doesn't exist. Please <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}